
#carousel1 {
    height: 242px;
}

#page-index .carousel .control {
    top: auto;
    left: auto;
    bottom: -40px;
}
#page-index .carousel .control.left {
    right: 100px;
}
#page-index .carousel .control.right {
    right: 30px;
}